* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
  background-color: black;
  font-family: 'Roboto';
}

h2 {
  font-weight: 100;
}

ul, li {
  margin: 0;
  padding: 0;
}

ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img {
  transform: scale(1);
  border-radius: 50%;
  transition: transform ease-in-out 0.2s;
  width: 100%;
  border: 1px solid white;
}

#app {
  display: flex;
  flex-direction: column;
}

main a:not(.followersCount) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main a {
  padding: 1em;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.followersCount {
  width: 100%;
  display: block;
}

.tFollowersCount {
  background-color: #1DA1F2;
}

.tFollowersCount:hover,
.tFollowersCount:focus {
  background-color: #0c84cf;
}

.ytFollowersCount {
  background-color: #FF0000;
}

.ytFollowersCount:hover,
.ytFollowersCount:focus {
  background-color: #cc0000;
}

.bFollowersCount {
  background-color: #23aee5;
}

.bFollowersCount:hover,
.bFollowersCount:focus {
  background-color: #1690c0;
}

a:focus {
    outline: none;
}

main a:hover {
  text-shadow: 0 0 5px #777;
}

.simpleBackgrounds main a:hover {
  text-shadow: 0 0 5px;
}

a:hover img,
a:focus img {
    transform: scale(1.1);
}

.img {
    margin-bottom: 1em;
    display: flex;
    max-width: 200px;
}

li.retired {
  opacity: 0.7;
}

.badges, .actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.actions {
  left: 10px;
  right: auto;
}

.badges a,
.actions a {
  padding: 0;
  margin: 0;
}

.badge, .action {
  background-color: red;
  padding: 3px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.action {
  background: none;
  width: 22px;
  height: 22px;
  transition: transform ease-in-out 0.2s;
}

.action:hover,
.action:focus {
  transform: scale(1.4);
}

.action-icon::before {
  height: inherit;
  width: inherit;
}

.badge-icon::before, .action-icon::before {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
  width: 22px;
}

.badge-scheduled {
  background-color: #607d8b;
}

.badge-live::before,
.badge-scheduled::before {
  background-image: url("../icons/radio.svg");
}

.action-calendar::before {
  background-image: url("../icons/calendar.svg")
}

.badge-retired {
  background-color: grey;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

footer {
  text-align: center;
  font-size: .8em;
  margin: 0;
  background: inherit;
  line-height: 1.5em;
  padding-bottom: 5em;
}

footer a {
  color: hotpink;
}

#meta {
  padding: 1em 0;
}

#settings {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
  z-index: 2;
}

#settings input {
  display: none;
}

#settings input:checked + label {
  background: #666;
}

#settings label {
  padding: 5px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

input {
  margin: 0;
  vertical-align: text-top;
}

/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local(''),
       url('../fonts/roboto-v20-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@media (min-width: 768px) {
  ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  ul {
    grid-template-columns: repeat(4, 1fr);
  }

  footer {
    padding-bottom: 2.5em;
  }

  #settings {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1440px) {
  ul {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 2560px) {
  ul {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 2560px) {
  ul {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 3440px) {
  ul {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (min-width: 3840px) {
  ul {
    grid-template-columns: repeat(8, 1fr);
  }
}
