* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
  background-color: black;
  font-family: "Roboto";
}

h2 {
  font-weight: 100;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hidden {
  display: None;
}

.profile-image > img {
  transform: scale(1);
  border-radius: 50%;
  transition: transform ease-in-out 0.2s;
  width: 100%;
  border: 1px solid white;
}

#app {
  display: flex;
  flex-direction: column;
}

main a:not(.followersCount) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main a {
  padding: 1em;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.followersCount {
  width: 100%;
  display: block;
}

.tFollowersCount {
  background-color: #1da1f2;
}

.tFollowersCount:hover,
.tFollowersCount:focus {
  background-color: #0c84cf;
}

.ytFollowersCount {
  background-color: #ff0000;
}

.ytFollowersCount:hover,
.ytFollowersCount:focus {
  background-color: #cc0000;
}

.bFollowersCount {
  background-color: #23aee5;
}

.bFollowersCount:hover,
.bFollowersCount:focus {
  background-color: #1690c0;
}

a:focus {
  outline: none;
}

main a:hover {
  text-shadow: 0 0 5px #777;
}

.simpleBackgrounds main a:hover {
  text-shadow: 0 0 5px;
}

a:hover .profile-image > img,
a:focus .profile-image > img {
  transform: scale(1.1);
}

.profile-image {
  margin-bottom: 1em;
  display: flex;
  max-width: 200px;
}

.thumbnail {
  max-width: calc(100vw - 3em);
  width: 500px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
}

.thumbnail-title {
  font-size: 1.5rem;
}

.thumbnail > img {
  max-width: inherit;
  width: inherit;
}

li.retired {
  opacity: 0.7;
}

.badges,
.actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.actions {
  left: 10px;
  right: auto;
}

.badges a {
  padding: 0;
  margin: 0;
}

.badge,
.action {
  background-color: red;
  padding: 3px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.action {
  background: none;
  width: 22px;
  height: 22px;
  transition: transform ease-in-out 0.2s;
  padding: 0;
  margin: 0 10px 0 0;
  cursor: pointer;
}

.action-hidden {
  opacity: 0;
}

.member:hover .actions .action-hidden,
.member:hover .actions .action-hidden-desktop,
.actions .action:focus {
  opacity: 1;
}

.action:hover,
.action:focus {
  transform: scale(1.3);
}

.action-icon::before {
  height: inherit;
  width: inherit;
}

.badge-icon::before,
.action-icon::before {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
  width: 22px;
}

.badge-scheduled {
  background-color: #607d8b;
}

.badge-live::before,
.badge-scheduled::before {
  background-image: url("../icons/radio.svg");
}

.action-calendar::before {
  background-image: url("../icons/calendar.svg");
}

.action-heart::before {
  background-image: url("../icons/heart.svg");
}

.action-heart-full::before {
  background-image: url("../icons/heart-full.svg");
}

.badge-retired {
  background-color: grey;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

footer {
  text-align: center;
  font-size: 0.8em;
  margin: 0;
  background: inherit;
  line-height: 1.5em;
  padding-bottom: 5em;
}

footer a {
  color: hotpink;
}

#meta {
  padding: 1em 0;
}

#settingsWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#settingsToggler {
  width: 100%;
  display: flex;
  background: transparent;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  height: 3em;
}

#settingsToggler > label {
  height: inherit;
  padding: 0 1em;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background: black;
  cursor: pointer;
  margin-bottom: -1px;
}

#settings {
  display: None;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
  background: black;
}

#settingsCheckbox:checked + #settings {
  display: grid;
}

#settings input {
  display: none;
}

#settings input:checked + label {
  background: #666;
}

#settings label {
  padding: 5px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

input {
  margin: 0;
  vertical-align: text-top;
}

/* roboto-100 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local(""), url("../fonts/roboto-v20-latin-100.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v20-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@media (min-width: 768px) {
  #settingsToggler > label {
    width: 200px;
  }

  ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .action-hidden-desktop {
    opacity: 0;
  }

  ul {
    grid-template-columns: repeat(4, 1fr);
  }

  footer {
    padding-bottom: 2.5em;
  }

  #settings {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1440px) {
  ul {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 2560px) {
  ul {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 2560px) {
  ul {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 3440px) {
  ul {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (min-width: 3840px) {
  ul {
    grid-template-columns: repeat(8, 1fr);
  }
}
