[Unit]
Description=Update calendar ICS files

[Service]
Type=oneshot
WorkingDirectory=/home/dietpi/src/github.com/Nachtalb/HololiveSubs
ExecStart=/home/dietpi/.cache/pypoetry/virtualenvs/hololivesubs-PE9y_kui-py3.11/bin/python /home/dietpi/src/github.com/Nachtalb/HololiveSubs/create_events.py
StandardOutput=syslog
SyslogIdentifier=holozone

