[Unit]
Description=Archive holo stats

[Service]
Type=oneshot
WorkingDirectory=/home/dietpi/src/github.com/Nachtalb/HololiveSubs
ExecStart=/home/dietpi/src/github.com/Nachtalb/HololiveSubs/bin/archive.sh
StandardOutput=syslog
SyslogIdentifier=holoarchive

