<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=3.0" id="viewport" name="viewport">
  <meta content="#15181c" name="theme-color">

  <meta property="og:title" content="Hololive Subs Realtime" />
  <meta property="og:type" content="Website" />
  <meta property="og:url" content="https://hololive.zone/" />
  <meta property="og:image" content="http://hololive.zone/website-screenshot.jpg" />

  <title>Hololive Subs Realtime</title>
  <link href="/icon.png" rel="shortcut icon" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <script src="/resources/js/vue.min.js"></script>
  <script src="/resources/js/axios.min.js"></script>
  <link href="/resources/css/main.css" rel="stylesheet" />
</head>
<body>

  <main>
    <div id="app">
      <member-group
        v-for="(group, id) in groups"
        v-bind:id="id"
        v-bind:group="group"
        v-bind:key="group.order"
      ></member-group>
    </div>
  </main>

  <footer>
    Website created by <a href="https://nachtalb.io" target="_blank">Nachtalb</a> (no affiliation with <a href="https://en.hololive.tv/" target="_blank">Hololive</a>).
    Last update: <abbr id="lastUpdated" title="Every 30min">-</abbr>. (Twitter) Profile pictures are also updated. <a href="https://github.com/Nachtalb/HololiveSubs" target="_blank">Source</a>
    <br/>
    <label for="showretired">Show retired: <input type="checkbox" name="showretired" id="showretired" checked=""></label>
    <label for="showbilibili">Show bilibili: <input type="checkbox" name="showbilibili" id="showbilibili" checked=""></label>
    <label for="lowpolyBackgrounds">Show low-poly backgrounds: <input type="checkbox" name="lowpolyBackgrounds" id="lowpolyBackgrounds" checked=""></label>
  </footer>

  <script>
    Vue.component('member-card', {
      props: ['member'],
      template: `
        <li v-bind:class="[member.twitter, member.retired ? 'retired' : '', member.is_live ? 'live' : '']"
            v-bind:style="{ background: background }">
          <div class="badges">
            <span class="badge badge-icon badge-live" v-if="member.is_live">LIVE</span>
            <span class="badge badge-retired" v-if="member.retired">RETIRED</span>
          </div>
          <a v-bind:href="mainLink"
             v-bind:title="member.name"
             target="_blank">
            <div class="img"><img v-bind:src="member.image" alt="member.name"></div>
            <span class="name" v-bind:style="nameStyle">{{ member.name }}</span>
          </a>
          <div class="buttons">
            <a class="ytFollowersCount followersCount"
               v-bind:href="'https://www.youtube.com/channel/' + member.youtube"
               v-bind:title="member.yt_subs + ' subscribers on YouTube'"
               v-if="member.yt_subs">
              <span>{{ nFormatter(member.yt_subs, 2) }}</span> YouTube
            </a>
            <a class="bFollowersCount followersCount"
               v-bind:href="'https://space.bilibili.com/' + member.bilibili"
               v-bind:title="member.b_subs + ' subscribers on Bilibili'"
               v-if="member.b_subs">
              <span>{{ nFormatter(member.b_subs, 2) }}</span> Bilibili
            </a>
            <a class="tFollowersCount followersCount"
               v-bind:title="member.t_subs + ' subscribers on Twitter'"
               v-bind:href="'https://twitter.com/' + member.twitter">
              <span>{{ nFormatter(member.t_subs, 2) }}</span> Twitter
            </a>
          </div>
        </li>`,
      computed: {
        mainLink: function () {
          if (this.member.yt_subs) {
            return 'https://youtube.com/channel/' + this.member.youtube + (this.member.is_live ? '/live' : '')
          } else if (this.member.t_subs) {
            return 'https://twitter.com/' + this.member.twitter
          } else if (this.member.b_subs) {
            return 'https://space.bilibili.com/' + member.bilibili
          } else {
            return '#'
          }
        },
        background: function() {
          if (this.member.background_image && app.lowpolyBackgrounds) {
            return `url("${this.member.background_image}")`
          } else {
            return `linear-gradient(180deg, ${this.member.bg} 0%, ${this.pSBC(-.9, this.member.bg)} 100%)`
          }
        },
        nameStyle: function () {
          if (this.member.background_image && app.lowpolyBackgrounds) {
            return {color: '#222', 'font-weight': 'bold'}
          } else {
            return {color: this.member.fg, 'font-weight': 'normal'}
          }
        }
      },
      methods: {

        // https://stackoverflow.com/a/13542669/5699307
        pSBC(p,c0,c1,l) {
            let r,g,b,P,f,t,h,i=parseInt,m=Math.round,a=typeof(c1)=="string";
            if(typeof(p)!="number"||p<-1||p>1||typeof(c0)!="string"||(c0[0]!='r'&&c0[0]!='#')||(c1&&!a))return null;
            if(!this.pSBCr)this.pSBCr=(d)=>{
                let n=d.length,x={};
                if(n>9){
                    [r,g,b,a]=d=d.split(","),n=d.length;
                    if(n<3||n>4)return null;
                    x.r=i(r[3]=="a"?r.slice(5):r.slice(4)),x.g=i(g),x.b=i(b),x.a=a?parseFloat(a):-1
                }else{
                    if(n==8||n==6||n<4)return null;
                    if(n<6)d="#"+d[1]+d[1]+d[2]+d[2]+d[3]+d[3]+(n>4?d[4]+d[4]:"");
                    d=i(d.slice(1),16);
                    if(n==9||n==5)x.r=d>>24&255,x.g=d>>16&255,x.b=d>>8&255,x.a=m((d&255)/0.255)/1000;
                    else x.r=d>>16,x.g=d>>8&255,x.b=d&255,x.a=-1
                }return x};
            h=c0.length>9,h=a?c1.length>9?true:c1=="c"?!h:false:h,f=this.pSBCr(c0),P=p<0,t=c1&&c1!="c"?this.pSBCr(c1):P?{r:0,g:0,b:0,a:-1}:{r:255,g:255,b:255,a:-1},p=P?p*-1:p,P=1-p;
            if(!f||!t)return null;
            if(l)r=m(P*f.r+p*t.r),g=m(P*f.g+p*t.g),b=m(P*f.b+p*t.b);
            else r=m((P*f.r**2+p*t.r**2)**0.5),g=m((P*f.g**2+p*t.g**2)**0.5),b=m((P*f.b**2+p*t.b**2)**0.5);
            a=f.a,t=t.a,f=a>=0||t>=0,a=f?a<0?t:t<0?a:a*P+t*p:0;
            if(h)return"rgb"+(f?"a(":"(")+r+","+g+","+b+(f?","+m(a*1000)/1000:"")+")";
            else return"#"+(4294967296+r*16777216+g*65536+b*256+(f?m(a*255):0)).toString(16).slice(1,f?undefined:-2)
        },

        nFormatter(num, digits) {
          if (num === undefined) return;
          var si = [
            { value: 1, symbol: '' },
            { value: 1E3, symbol: 'k' },
            { value: 1E6, symbol: 'M' },
            { value: 1E9, symbol: 'G' },
            { value: 1E12, symbol: 'T' },
            { value: 1E15, symbol: 'P' },
            { value: 1E18, symbol: 'E' }
          ];
          var i, rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
          for (i = si.length - 1; i > 0; i--) {
            if (num >= si[i].value) {
              break;
            }
          }
          return (num / si[i].value).toFixed(digits).replace(rx, '$1') + si[i].symbol;
        },
      },
    });

    Vue.component('member-group', {
      props: ['id', 'group'],
      template: `
        <section v-bind:id="id">
          <h2 v-if="group.show_title">{{ group.name }}</h2>

          <ul id="members">
            <member-card
              v-for="member in group.members"
              v-bind:member="member"
              v-bind:key="member.id"
            ></member-card>
          </ul>
        </section>`,
    });

    var app = new Vue({
      el: '#app',
      data: {
        groups: {},
        showRetired: true,
        showBilibili: false,
        lowpolyBackgrounds: true,
      },
      mounted() {
        const retired = window.localStorage.getItem('showRetired');
        const bilibili = window.localStorage.getItem('showBilibili');
        const lowpolyBackgrounds = window.localStorage.getItem('lowpolyBackgrounds');
        this.showRetired = retired === null ? this.showRetired : retired === 'true' ? true : false;
        this.showBilibili = bilibili === null ? this.showBilibili : bilibili === 'true' ? true : false;
        this.lowpolyBackgrounds = lowpolyBackgrounds === null ? this.lowpolyBackgrounds: lowpolyBackgrounds=== 'true' ? true : false;

        axios
          .get('stats.json')
          .then(response => {
            this.groups = response.data;
            document.getElementById('lastUpdated').textContent = response.headers['last-modified'];
          });

        const retiredToggle = document.getElementsByName('showretired')[0];
        retiredToggle.onchange = this.toggleRetired;
        retiredToggle.checked = this.showRetired;
        const bilibiliToggle = document.getElementsByName('showbilibili')[0];
        bilibiliToggle.onchange = this.toggleBilibili;
        bilibiliToggle.checked = this.showBilibili;
        const lowpolyBackgroundsToggle = document.getElementsByName('lowpolyBackgrounds')[0];
        lowpolyBackgroundsToggle.onchange = this.toggleLowpolyBackgrounds;
        lowpolyBackgroundsToggle.checked = this.lowpolyBackgrounds;
        this.setClass();
      },
      methods: {
        setClass: function() {
          document.body.classList.toggle('showRetired', this.showRetired);
          document.body.classList.toggle('showBilibili', this.showBilibili);
          document.body.classList.toggle('lowpolyBackgrounds', this.lowpolyBackgrounds);
        },
        toggleRetired: function() {
          console.log('shiz');
          this.showRetired = !this.showRetired;
          window.localStorage.setItem('showRetired', this.showRetired);
          this.setClass();
        },
        toggleBilibili: function() {
          this.showBilibili = !this.showBilibili;
          window.localStorage.setItem('showBilibili', this.showBilibili);
          this.setClass();
        },
        toggleLowpolyBackgrounds: function() {
          this.lowpolyBackgrounds = !this.lowpolyBackgrounds;
          window.localStorage.setItem('lowpolyBackgrounds', this.lowpolyBackgrounds);
          this.setClass();
        }
      },
    });
  </script>

</body>
</html>
